[submodule "yii"]
	path = yii
	url = git@github.com:yiisoft/yii.git
[submodule "public/vendors/bootstrap"]
	path = public/vendors/bootstrap
	url = git@github.com:twbs/bootstrap.git
[submodule "public/vendors/jquery"]
	path = public/vendors/jquery
	url = git@github.com:jquery/jquery.git
